<!DOCTYPE html>
<html lang="{{@site.locale}}" {{#match @custom.color_scheme "Dark" }} data-theme="dark" {{else}} {{/match}}>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href='{{asset "css/bundle.css"}}' />
    <script type="module" src='{{asset "js/bundle.js"}}'></script>
    <title>{{meta_title}}</title>
    
    {{!-- LiveJS para desarrollo --}}
    {{#if @site.env="development"}}
    <script type="text/javascript" src="http://livejs.com/live.js"></script>
    {{/if}}
    
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    {{ghost_head}}
</head>

<body class="{{body_class}} bg-background text-onSurface">
    {{> header}}
    <main class="min-h-screen">
        {{{body}}}
    </main>
    {{> footer}}
    {{ghost_foot}}
</body>

</html>