{{!< default}}
{{#post}}
    {{#match @page.show_title_and_feature_image}}
    <section class="section mt-8">
        <article class="mx-auto max-w-4xl bg-surfaceContainerHighest rounded-xl p-8">
            <h1 class="headline-1 text-onSurface mb-6">{{title}}</h1>
            
            {{#if feature_image}}
                <figure class="mb-8">
                    <img 
                        srcset="{{img_url feature_image size="s"}} 300w, 
                               {{img_url feature_image size="m"}} 600w,
                               {{img_url feature_image size="l"}} 1000w,
                               {{img_url feature_image size="xl"}} 2000w"
                        sizes="(min-width: 1400px) 1400px, 92vw" 
                        src="{{img_url feature_image size="xl"}}"
                        alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                        class="w-full mb-4 aspect-video object-cover rounded-lg" />
                    {{#if feature_image_caption}}
                        <figcaption class="text-sm text-onSurfaceVariant italic text-center mt-2">
                            {{feature_image_caption}}
                        </figcaption>
                    {{/if}}
                </figure>
            {{/if}}
            
            <div class="prose prose-lg max-w-none text-onSurface">
                {{content}}
            </div>
        </article>
    </section>
    {{/match}}
{{/post}}