{{!< default}}
<section class="section mt-8">
    <div class="mx-auto max-w-4xl">
        {{#tag}}
            {{> blocks/headline name=name}}
        {{/tag}}
        
        <wc-grille desktop="3" mobile="2" gap="medium" class="mb-8">
            {{#foreach posts}}
                <wc-card 
                    title="{{title}}" 
                    url="{{url}}" 
                    excerpt="{{excerpt}}" 
                    feature-image="{{feature_image}}"
                    tag-name="{{primary_tag.name}}" 
                    tag-url="{{primary_tag.url}}" 
                    author-name="{{primary_author.name}}"
                    author-url="{{primary_author.url}}" 
                    author-profile-image="{{primary_author.profile_image}}"
                    reading-time="{{reading_time minute="1 min" minutes="% min"}}"
                    published-at="{{date published_at format="MMM DD, YYYY" locale="es"}}" 
                    media-align="top" 
                    heading="5" 
                    density="compact"
                    elevation="0">
                </wc-card>
            {{/foreach}}
        </wc-grille>
    </div>
</section>

<section class="section">
    <div class="mx-auto max-w-4xl">
        {{> pagination}}
    </div>
</section>