<div class="flex items-center justify-between">
    <ul class="flex items-center gap-3 text-onSurfaceVariant">
        <li class="group relative">
            <button onclick="navigator.clipboard.writeText(window.location.href)" class="p-2 rounded-full hover:bg-surfaceContainerLow transition-colors">
                <span class="i-ri-link-m block h-5 w-5"></span>
            </button>
            {{> "components/tooltip" message="Copiar enlace"}}
        </li>
        <li class="group relative">
            <a href="https://twitter.com/intent/tweet?url={{@site.url}}{{url}}&text={{title}}" target="_blank" class="p-2 rounded-full hover:bg-surfaceContainerLow transition-colors">
                <span class="i-ri-twitter-line block h-5 w-5"></span>
            </a>
            {{> "components/tooltip" message="Compartir en Twitter"}}
        </li>
        <li class="group relative">
            <a href="https://www.facebook.com/sharer/sharer.php?u={{@site.url}}{{url}}" target="_blank" class="p-2 rounded-full hover:bg-surfaceContainerLow transition-colors">
                <span class="i-ri-facebook-circle-line block h-5 w-5"></span>
            </a>
            {{> "components/tooltip" message="Compartir en Facebook"}}
        </li>
        <li class="group relative">
            <a href="whatsapp://send?text={{title}} {{@site.url}}{{url}}" target="_blank" class="p-2 rounded-full hover:bg-surfaceContainerLow transition-colors">
                <span class="i-ri-whatsapp-line block h-5 w-5"></span>
            </a>
            {{> "components/tooltip" message="Compartir en WhatsApp"}}
        </li>
    </ul>
</div>